/* Josh's Custom CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* 

THEN: Strikethrough task title and grey out task when completed
THEN: Create Completed Tasks section on homepage and project page
THEN: Add localStorage

*/

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-9ptRegular.woff2") format("woff2"),
    url("DMSans-9ptRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-surface-a0: #212121;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: gray;
  --color-surface-a40: lightgray;

  --color-surface-overlay: rgba(0, 0, 0, 0.5);

  --color-primary-a0: white;

  --color-success-a0: #22946e;

  --color-warning-a0: orange;
  --color-warning-a10: yellow;

  --color-danger-a0: #9c2121;
  --color-danger-a10: tomato;
  --color-danger-a20: #eb9393;
}

body {
  display: grid;
  grid-template-columns: minmax(320px, 600px);
  justify-content: center;

  background-color: var(--color-surface-a0);
  color: var(--color-primary-a0);
  font-family: "DM Sans", sans-serif;
}

/* header */
#header-background {
  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--color-surface-a20);
  width: 100%;
  height: 48px;
}

header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  background-color: var(--color-surface-a20);
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  padding: 0 16px;
}

#todo-logo {
  cursor: pointer;
}

/* content */
#content {
  min-width: 320px;
  max-width: 600px;
  padding: 56px 16px 0;
}

/* overlay */
.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-surface-overlay);
  width: 100%;
  height: 100%;
}

/* form layout (universal) */
.form-content {
  display: grid;
  gap: 8px;

  position: absolute;
  top: 56px;
  right: calc((100% - 600px) / 2);

  background-color: var(--color-surface-a20);
  border-radius: 12px;
  font-size: 14px;
  padding: 8px;
}

@media only screen and (max-width: 616px) {
  .form-content {
    right: 8px;
  }
}

.form-content h4 {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* form layout (project) */
.form-content > .required {
  margin-top: -8px;
}

/* form layout (task) */
.title-and-description-container {
  display: grid;
}

.click-inputs-container {
  display: grid;
  gap: 8px;
}

#due-date-input {
  all: unset;

  color-scheme: dark;
  cursor: text;
  background-color: var(--color-surface-a0);
  border-radius: 8px;
  padding: 8px 12px;
}

.label-and-input .required {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: -8px;
}

/* form inputs (universal) */
.required {
  display: none;
  color: var(--color-danger-a20);
  font-size: 13px;
  padding-left: 8px;
}

/* form inputs (project) */
.text-input {
  all: unset;
  background-color: var(--color-surface-a0);
  border-radius: 8px;
  padding: 8px 12px;
}

/* form inputs (task) */
.task-title-input {
  all: unset;
  background-color: var(--color-surface-a0);
  border-bottom: 1px solid rgba(75, 75, 75, 0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 12px;
}

.task-description-input {
  all: unset;
  background-color: var(--color-surface-a0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.label-and-input {
  display: grid;
  grid-template-columns: 72px 155px;
  align-items: center;
  gap: 8px;

  text-align: start;
}

.label-and-input select {
  all: unset;
  cursor: pointer;
  background-color: var(--color-surface-a0);
  background-image: url(../images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 24px;
  border-radius: 8px;
  padding: 8px 12px;
}

/* buttons */
button {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 8px;

  display: flex;
  align-items: center;
}

.sort-button {
  display: flex;
  justify-content: center;

  border: 1px solid var(--color-primary-a0);
  font-size: 12px;
  padding: 2px 8px;
}

.active {
  background-color: var(--color-surface-a40);
  color: var(--color-surface-a0);
}

.menu-button {
  background-color: var(--color-surface-a0);

  justify-content: start;
  gap: 8px;
}

.success-button {
  background-color: var(--color-success-a0);
}

.danger-button {
  background-color: var(--color-danger-a0);
}

.cancel-button {
  background-color: var(--color-surface-a40);
  color: var(--color-surface-a0);
}

/* homepage (my projects) */
#my-projects {
  display: grid;
  gap: 8px;

  margin-bottom: 8px;
}

#my-projects h2 {
  border-bottom: 1px solid var(--color-surface-a30);
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  background-color: var(--color-surface-a20);
  border-radius: 8px;
  padding: 12px;
}

.project-left {
  width: 90%;
}

.project-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-right {
  display: flex;
  align-items: center;
}

.task-count {
  color: var(--color-surface-a40);
  font-size: 14px;
}

.right-arrow {
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

/* homepage (all tasks) */
#all-tasks-header {
  display: flex;
  justify-content: space-between;
}

#sort-buttons-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task {
  border-top: 1px solid var(--color-surface-a30);
  padding: 8px 0;
}

.task-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-top-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check-box {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.low {
  color: var(--color-warning-a10);
}

.medium {
  color: var(--color-warning-a0);
}

.high {
  color: var(--color-danger-a10);
}

.task-top-right {
  display: flex;
  align-items: center;
}

.task-info {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2352%)
    hue-rotate(51deg) brightness(113%) contrast(65%);
  width: 22px;
  height: 22px;
}

.task-bottom {
  display: flex;
  justify-content: space-between;

  color: var(--color-surface-a40);
  font-size: 14px;
  padding-left: 28px;
}

.project-name {
  cursor: pointer;
}

#all-tasks:last-child {
  border-bottom: 1px solid var(--color-surface-a30);
}

/* project page */
#project-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project-heading-left,
#project-heading-right {
  display: flex;
  align-items: center;
}

#project-heading-right {
  gap: 4px;
}

#back-home-arrow,
#add-new-task,
#options {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2352%)
    hue-rotate(51deg) brightness(113%) contrast(65%);
}

#back-home-arrow {
  width: 16px;
  height: 16px;
}

#add-new-task {
  width: 20px;
  height: 20px;

  margin-left: 8px;
}

#options {
  width: 24px;
  height: 24px;
}

#back-home-text {
  cursor: pointer;
  color: var(--color-surface-a40);
  font-size: 14px;
  margin-right: 8px;
}

#project-tasks:last-child {
  border-bottom: 1px solid var(--color-surface-a30);
}

/* task complete */
.task-complete {
  background-color: rgba(63, 63, 63, 0.25);
}

.strikethrough {
  text-decoration: line-through;
}

/* danger zone */
.danger-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--color-danger-a0);
  border-radius: 8px;
  padding: 8px;
}
