/* Josh's Custom CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* universal */

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-9ptRegular.woff2") format("woff2"),
    url("DMSans-9ptRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #212121;
  --header-background-color: #3f3f3f;
  --footer-background-color: #3f3f3f;
  --task-background-color: #3f3f3f;
  --due-date-background-color: lightgray;
  --due-date-color: #3f3f3f;
  --success-color: #22946e;
  --danger-color: #9c2121;
}

body {
  display: grid;
  grid-template-columns: minmax(320px, 600px);
  justify-content: center;

  background-color: var(--background-color);
  color: white;
  font-family: "DM Sans", sans-serif;
}

button {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;

  border-radius: 8px;
  padding: 8px;
}

/* END universal */

/* template */

#header-background {
  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--header-background-color);
  width: 100%;
  height: 48px;
}

header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  background-color: var(--header-background-color);
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  padding: 0 16px;
}

#todo-logo {
  cursor: pointer;
}

#content {
  min-width: 320px;
  max-width: 600px;
  padding: 56px 16px 0;
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.overlay-container {
  display: grid;
  gap: 8px;

  position: absolute;
  top: 56px;
  right: calc((100% - 600px) / 2);

  background-color: var(--header-background-color);
  border-radius: 12px;
  font-size: 14px;
  padding: 8px;
}

.overlay-container-edit {
  display: grid;
  gap: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--header-background-color);
  border-radius: 12px;
  font-size: 14px;
  padding: 8px;
}

@media only screen and (max-width: 616px) {
  .overlay-container {
    right: 8px;
  }
}

.overlay h4 {
  text-align: center;
}

.overlay-button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;

  background-color: var(--background-color);
  border-radius: 8px;
  padding: 8px;
}

#new-project-name {
  all: unset;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 8px 12px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.required {
  display: none;
  color: #eb9e9e;
  font-size: 13px;
  font-style: italic;
  padding-left: 8px;
}

.cancel,
.create {
  background-color: var(--danger-color);
  border-radius: 8px;
  text-align: center;
  padding: 6px 8px;
}

.cancel {
  background-color: var(--danger-color);
}

.create {
  background-color: var(--success-color);
}

.title-and-description-container {
  display: grid;
}

.task-title-input {
  all: unset;
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(75, 75, 75, 0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px 12px;
}

.task-description-input {
  all: unset;
  background-color: var(--background-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px 12px;
}

.click-inputs-container {
  display: grid;
  gap: 8px;
}

#due-date-input {
  all: unset;

  color-scheme: dark;
  cursor: text;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 8px 12px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.due-date-required {
  grid-area: 2 / 2 / 3 / 3;

  margin-top: -8px;
}

.label-and-input {
  display: grid;
  grid-template-columns: 72px 155px;
  align-items: center;
  gap: 8px;

  text-align: start;
}

.label-and-input select {
  all: unset;

  cursor: pointer;
  background-color: var(--background-color);
  background-image: url(../images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 24px;
  border-radius: 8px;
  padding: 8px 12px;
}

/* END template */

/* homepage */

#my-projects {
  display: grid;
  gap: 8px;

  margin-bottom: 8px;
}

#my-projects h2 {
  border-bottom: 1px solid gray;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  background-color: var(--header-background-color);
  border-radius: 8px;
  padding: 12px;
}

.project-left {
  width: 90%;
}

.project-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-right {
  display: flex;
  align-items: center;
}

.task-count {
  color: lightgray;
  font-size: 14px;
}

.right-arrow {
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

#all-tasks:last-child {
  border-bottom: 1px solid gray;
}

.task {
  border-top: 1px solid gray;
  padding: 8px 0;
}

.task-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-top-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-top-right {
  display: flex;
  align-items: center;
}

.check-box {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.task-info {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2352%)
    hue-rotate(51deg) brightness(113%) contrast(65%);
  width: 22px;
  height: 22px;
}

.task-bottom {
  display: flex;
  justify-content: space-between;

  color: lightgray;
  font-size: 14px;
  padding-left: 28px;
}

.project-name {
  cursor: pointer;
}

/* END homepage */

/* project page */

#project-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project-heading-left,
#project-heading-right {
  display: flex;
  align-items: center;
}

#project-heading-right {
  gap: 4px;
}

#back-home-arrow,
#add-new-task,
#options {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2352%)
    hue-rotate(51deg) brightness(113%) contrast(65%);
}

#back-home-arrow {
  width: 16px;
  height: 16px;
}

#add-new-task {
  width: 20px;
  height: 20px;
}

#options {
  width: 24px;
  height: 24px;
}

#back-home-text {
  cursor: pointer;
  color: lightgray;
  font-size: 14px;
  margin-right: 8px;
}

#project-tasks:last-child {
  border-bottom: 1px solid gray;
}

/* END project page */

/* edit project form */

#rename-project {
  all: unset;
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(75, 75, 75, 0.5);
  border-radius: 8px;
  width: 150px;
  padding: 8px 12px;
}

#edit-project-form-overlay .form-buttons {
  margin-top: 6px;
}

#delete-project-container {
  display: grid;
  justify-content: center;
  gap: 8px;

  border: 1px solid var(--danger-color);
  border-radius: 8px;
  padding: 8px;
}

/* END edit project form */

/* danger zone */

.danger-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--danger-color);
  border-radius: 8px;
  padding: 8px;
}

/* END danger zone */

/* confirm delete project */

#confirm-delete-overlay .overlay-wrapper {
  border: 1px solid var(--danger-color);
  border-radius: 8px;
  padding: 8px;
}

#confirm-delete-overlay .form-buttons {
  gap: 8px;
  margin-top: 8px;
}

#confirm-delete-overlay button {
  border-radius: 8px;
  text-align: center;
  padding: 6px 8px;
}

#cancel-confirm-delete {
  background-color: gray;
}

#confirm-delete {
  background-color: var(--danger-color);
}

/* END confirm delete project */
