/* Josh's Custom CSS Reset (https://www.joshwcomeau.com/css/custom-css-reset/) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* root and body */

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-9ptRegular.woff2") format("woff2"),
    url("DMSans-9ptRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #212121;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "DM Sans", sans-serif;
}

/* END root and body */

/*  */

/*  */
